{% extends 'paginas/modelo.html' %}

{% load static %}

{% block menu %}
<h3>Lista de Campus registrados</h3>
<hr>
<div class="table-responsive">
<table class="table table-bordered text-white">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Ações</th>
    </tr>
    {% for campo in object_list %}
    <tr>
        <td>{{ campo.pk }}</td>
        <td>{{ campo.nome }}</td>
        <td>{{ campo.descricao }}</td>
            <td>
                Editar
                excluir
            </td>
    </tr>

    {% empty %}
    <tr>
        <td colspan="3">Nenhum campo registrado.</td>
    </tr>

    {% endfor %}

</table>

</div>
{% endblock %}
